<h1 style="text-align: center;">Desafío - Control de Flujo</h1>

- Para realizar este desafío debes haber estudiado previamente todo el material disponible correspondiente a la unidad.
- Una vez terminado el desafío, comprime la carpeta que contiene el desarrollo de los requerimientos solicitados y sube el .zip en el LMS.
- Desarrollo desafío: Individual.
- Puntaje total: 10 puntos.

## Habilidades a evaluar
- Generar arrays ficticios con `numpy`
- Ejecutar un loop que devuelva los resultados requeridos.

## Descripción
¡Has logrado pasar la primera ronda de la selección de la Empresa TI en la cual postulaste en el Desafío anterior! A los reclutadores les interesó tu currículum una vez revisado, pero
siguen existiendo al menos 10 competidores para el puesto, por lo tanto, te solicitan una vez más una serie de requerimientos para poder filtrar técnicamente a los postulantes. Pero esta vez, serán un poco más complejos. Revisémoslos.

## Requerimientos
### 1. Generar un par de arrays ficticios con numpy (1 punto).

**_Tip_**: Utilice la función linspace para generar un array entre 1 y 50, y un array entre 50 y 150.

In [2]:
# Utiliza esta celda para generar los arreglos solicitados
import pandas as pd
import numpy as np

primer_array = np.linspace(1, 50, dtype = int )
primer_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [3]:
segundo_array = np.linspace(50, 150, 100, dtype = int)
segundo_array

array([ 50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,
        63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,
        76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,
        89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101,
       102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114,
       115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127,
       128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140,
       141, 142, 143, 144, 145, 146, 147, 148, 150])

### 2. Ejecuta un loop que devuelva si el número en el primer array es par o impar (1 punto).

_**Tip**_: Utilice la función _módulo_ para encontrar si el número es divisible por 2.

In [4]:
# Utiliza esta celda para programar el loop solicitado
for valor in primer_array:
    if valor % 2 == 0:
        print(f"El numero {valor} es divisible por 2")
    else:
        print(f"El numero {valor} NO es divisible por 2")

El numero 1 NO es divisible por 2
El numero 2 es divisible por 2
El numero 3 NO es divisible por 2
El numero 4 es divisible por 2
El numero 5 NO es divisible por 2
El numero 6 es divisible por 2
El numero 7 NO es divisible por 2
El numero 8 es divisible por 2
El numero 9 NO es divisible por 2
El numero 10 es divisible por 2
El numero 11 NO es divisible por 2
El numero 12 es divisible por 2
El numero 13 NO es divisible por 2
El numero 14 es divisible por 2
El numero 15 NO es divisible por 2
El numero 16 es divisible por 2
El numero 17 NO es divisible por 2
El numero 18 es divisible por 2
El numero 19 NO es divisible por 2
El numero 20 es divisible por 2
El numero 21 NO es divisible por 2
El numero 22 es divisible por 2
El numero 23 NO es divisible por 2
El numero 24 es divisible por 2
El numero 25 NO es divisible por 2
El numero 26 es divisible por 2
El numero 27 NO es divisible por 2
El numero 28 es divisible por 2
El numero 29 NO es divisible por 2
El numero 30 es divisible por 2
El numero 31 NO es divisible por 2
El numero 32 es divisible por 2
El numero 33 NO es divisible por 2
El numero 34 es divisible por 2
El numero 35 NO es divisible por 2
El numero 36 es divisible por 2
El numero 37 NO es divisible por 2
El numero 38 es divisible por 2
El numero 39 NO es divisible por 2
El numero 40 es divisible por 2
El numero 41 NO es divisible por 2
El numero 42 es divisible por 2
El numero 43 NO es divisible por 2
El numero 44 es divisible por 2
El numero 45 NO es divisible por 2
El numero 46 es divisible por 2
El numero 47 NO es divisible por 2
El numero 48 es divisible por 2
El numero 49 NO es divisible por 2
El numero 50 es divisible por 2

### 3. Genere un loop con el segundo array que cuente las siguientes condiciones (1 punto):
- Si el número es divisible por 2 o 3.
- Si el número es divisible por 2 y 3.
- Si el número es divisible por 3 pero no por 2.
- Si el número no es divisible por 2 ni 3.

In [5]:
# Utilza esta celda para programar el loop solicitado, y definir las variables necesarias
count_1 = 0
count_2 = 0
count_3 = 0
count_4 = 0


for valor in segundo_array:
    if valor % 2 == 0 or valor % 3 == 0:
        count_1 += 1
    if valor % 2 == 0 and valor % 3 == 0:
        count_2 += 1
    if valor % 2 != 0 and valor % 3 == 0:
        count_3 += 1
    if valor % 2 != 0 and valor % 3 != 0:
        count_4 += 1
        
print(count_1)
print(count_2)
print(count_3)
print(count_4)

68
17
17
32

### 4. Corrección de errores: Revisa el siguiente código y encuentra los errores a corregir (1 punto):

```python
for i in range(100):
    print(I**2)
```

<!-- La variable "I" no esta definida -->

### 5. Utilizando la misma base `flights.csv` debes hacer un loop y clasificar los meses con una cantidad de pasajeros menor a la media (3 puntos).  

Para ello:
- Genera un nuevo objeto que represente la media de passengers.

In [6]:
# Utiliza esta celda para guardar la media de passengers

df_flights = pd.read_csv("flights.csv")

In [7]:
media = df_flights["passengers"].mean()
media

280.2986111111111

- Genera una columna en la base de datos que se llame `underperforming` y asígnele `0`.

In [8]:
# Utiliza esta celda para generar la columna solicitada
df_flights["underperforming"] = 0
df_flights

     year      month  passengers  underperforming
0    1949    January         112                0
1    1949   February         118                0
2    1949      March         132                0
3    1949      April         129                0
4    1949        May         121                0
..    ...        ...         ...              ...
139  1960     August         606                0
140  1960  September         508                0
141  1960    October         461                0
142  1960   November         390                0
143  1960   December         432                0

[144 rows x 4 columns]

- Ejecuta un loop que recorra cada observación de passengers, donde si la observación es menor a la media de passengers, se le asigne a `underperforming` un 1. Para ello utilice la función `at` de pandas

In [9]:
# Utiliza esta celda para programar el loop solicitado

for index, rowserie in df_flights.iterrows():
    if rowserie["passengers"] < media:
        df_flights.at[index, "underperforming"] = 1
    
df_flights

     year      month  passengers  underperforming
0    1949    January         112                1
1    1949   February         118                1
2    1949      March         132                1
3    1949      April         129                1
4    1949        May         121                1
..    ...        ...         ...              ...
139  1960     August         606                0
140  1960  September         508                0
141  1960    October         461                0
142  1960   November         390                0
143  1960   December         432                0

[144 rows x 4 columns]

In [10]:
df_flights["underperforming"].value_counts()

1    80
0    64
Name: underperforming, dtype: int64

### 6. Por último, haz un loop que clasifique los meses donde la cantidad de pasajeros se escapa de la tendencia (3 puntos).

Para ello:
- Genera dos objetos que guarden la media general y la desviación estándar general de `passengers`.

In [11]:
# Utiliza esta celda para generar las variables solicitadas

media_general = df_flights["passengers"].mean()
desv_est_general = np.std(df_flights["passengers"])

media_general, desv_est_general

(280.2986111111111, 119.54904153277148)

- Genera una nueva columna en la tabla de datos que se llame `outlier` y asígnale 0

In [12]:
# Utiliza esta celda para generar la columna solicitada
df_flights["outlier"] = 0
df_flights

     year      month  passengers  underperforming  outlier
0    1949    January         112                1        0
1    1949   February         118                1        0
2    1949      March         132                1        0
3    1949      April         129                1        0
4    1949        May         121                1        0
..    ...        ...         ...              ...      ...
139  1960     August         606                0        0
140  1960  September         508                0        0
141  1960    October         461                0        0
142  1960   November         390                0        0
143  1960   December         432                0        0

[144 rows x 5 columns]

- Ejecuta un loop que recorra cada observación de passengers, donde si la observación se escapa de la tendencia sea 1, de lo contrario 0.
- Para clasificar los casos que se escapen la tendencia, la observación debe satisfacer _una_ de las siguientes condiciones:
    - La observación debe ser menor a la media menos la desviación estándar.
    - La observación debe ser mayor a la media más la desviación estándar.
- ¿Cuántas observaciones se pueden clasificar como casos extremos?

In [13]:
# Utiliza esta celda para generar el loop solicitado y mostrar los casos extremos

for index, rowserie in df_flights.iterrows():
    if rowserie["passengers"] > media_general + desv_est_general or rowserie["passengers"] < media_general - desv_est_general:
        df_flights.at[index, "outlier"] = 1
    
df_flights

     year      month  passengers  underperforming  outlier
0    1949    January         112                1        1
1    1949   February         118                1        1
2    1949      March         132                1        1
3    1949      April         129                1        1
4    1949        May         121                1        1
..    ...        ...         ...              ...      ...
139  1960     August         606                0        1
140  1960  September         508                0        1
141  1960    October         461                0        1
142  1960   November         390                0        0
143  1960   December         432                0        1

[144 rows x 5 columns]

In [14]:
df_flights["outlier"].value_counts()

0    91
1    53
Name: outlier, dtype: int64

<!-- Se puede observar que hay 53 casos que se pueden clasificar como casos extremos. Esto ocurre cuando el registro sea menor que la media menos la desviacion estandar o caso contrario cuando un registro sea mayor a la media mas la desviacion estandar. -->